extends layout
-var titleV = ""
block content
    header
      .row
        .col-md-8
          .video.py-4.pl-md-4
              video(poster="/assets/images/63-image.jpeg" src="https://mdbootstrap.com/img/video/Sail-Away.mp4" class="video-fluid  lecter z-depth-1" autoplay loop controls)
        .col-md-4.py-md-4.pr-md-5
          .v-info.p-4.card
            h4
              strong Video Title
              .clearfix
            p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .info
              span.float-left.p-3.time 12:10 12/13/2019
              span.p-3.type.thumbs.float-right Action en
              .claerfix
        ul.col-12.list-unstyled.video-list
          i.fas.fa-chevron-circle-right.prev
          i.fas.fa-chevron-circle-left.next
          .container
              .responsive
                each item in videsData
                  li.p-3
                    button.p-1.video-link.p-0.btn-outline-orange.btn.w-100(data-item=item, data-video='assets/video/' + item.id + '-video.' + item.videoName.split('.')[1], class="open")
                        .video-img.w-50
                          img(src='assets/images/' + item.id + '-image.' + item.image.split('.')[1]) 
                        span.video-title.w-50=item.title
                        .clearfix
    .container.my-5.py-5
      div(class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups")
          .btn-group.mr-2(role="group" aria-label="First group")
            button.btn.btn-outline-warning.active.waves-effect(type='submit' data-filter="all") All
            each itemType in types
              button(type="button" data-filter='.' + itemType.type, class="btn btn-outline-warning waves-effect")= itemType.type
      ul( id="destination" class="hidden")
        .row#container
          each item,index in videsData
              li.p-3.col-md-4.py-4.mix(class=item.type data-order=(index + 1))
                  button.p-1.video-link.p-0.btn-outline-orange.btn.w-100(data-item=item, data-video='assets/video/' + item.id + '-video.' + item.videoName.split('.')[1], class="open")
                      .video-img.w-50
                        img(src='assets/images/' + item.id + '-image.' + item.image.split('.')[1]) 
                      span.video-title.w-50=item.title
                      .clearfix
    each typeFilm in types
      .container.my-5
        .typeSlide
          button.btn.m-0.btn-outline-warning= typeFilm.type
          .divder
        ul.col-12.list-unstyled.video-list.slick
          i.fas.fa-chevron-circle-right.prev
          i.fas.fa-chevron-circle-left.next
          .container
              .responsive
                
                each film in videsData
                  if film.type == typeFilm.type
                      li.p-3
                        button.p-1.video-link.p-0.btn-outline-orange.btn.w-100(data-item=film, data-video='assets/video/' + film.id + '-video.' + film.videoName.split('.')[1], class="open")
                            .video-img.w-50
                              img(src='assets/images/' + film.id + '-image.' + film.image.split('.')[1]) 
                            span.video-title.w-50=film.title
                            .clearfix
  
